html {
  background: #ebebeb;
}

.App {
  text-align: center;
  color: #5e6472;
  font-family: 'Nunito', sans-serif;
}

.section {
  padding: 1em 2em;
  margin: 2em auto;
  width: 80vw;
  box-shadow: 0 5px 10px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.14);
}

.section:nth-child(3) {
  background: #b8f2e6;
}
.section:nth-child(4) {
  background: #faf3dd;
}
.section:nth-child(5) {
  background: #aed9e0;
}
.section:nth-child(6) {
  background: #ffa69e;
}
.section:nth-child(7) {
  background: #5e6472;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1%;
  margin-right: -4%;
}

.comment-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-container p {
  margin-right: 1em;
}

textarea {
  min-height: 100px;
  width: 50%;
  margin: 1em 0;
}

@media (min-width: 900px) {
  .section {
    width: 50vw;
  }

  .header button {
    margin-right: -3%;
  }
}
